.card .card-img {
  width: 100%;
  height: 300px;
  box-sizing: 0%;
}

.card-text{
  box-shadow: none;
  margin-right: 0rem;
  margin-left: 0rem;
  padding: 0em;
  font-style: italic;
}

a.card-link {
  color: navy;
  text-decoration: none;
  box-shadow: 0 0 11px 4px grey;
  padding: 0.2rem;
  margin-right: 2rem;
}

input,
button,
select,
optgroup,
textarea {
  color: navy;
  text-decoration: none;
  padding: 0.2rem;
}

.card {
  margin-top: 5rem;
}
