.Welcome {
  background-image: url(./WELCOME.jpg);
}

img {
  margin-top: 5rem;
  width: 250px;
}

.mytext {
  box-shadow: 0 0 15px 6px black;
  margin-right: 5em;
  margin-left: 16em;
  padding: 1em;
  font-style: italic;
  margin-bottom: 6.5rem;
}
