.nav.nav.navbar.navbar-expand-md.navbar-light {
  position: fixed;
  width: 100%;
}

.link {
  padding: 0 1.5em;
  margin-right: 1.5em;
  color: black;
  box-shadow: 0 0 1.5px 1.5px black;
}

.nav {
  padding-top: 1em;
  background-color: whitesmoke;
}

a.mx-3.link:hover {
  color: navy;
}

.link:hover {
  color: navy;
}

.navbar-light .navbar-toggler-icon {
  background-color: white;
}
